flask
duckduckgo_search
streamlit
openai
networkx
pyvis
pymupdf
uuid
streamlit-agraph
numpy
chromadb
python-dotenv
Pillow
beautifulsoup4
requests
flask-cors
pymorphy2
fastapi>=0.95.0
uvicorn>=0.22.0
python-multipart>=0.0.6
pydantic>=2.0.0
langchain_gigachat
langchain
